* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nono {
    display: none;
    opacity: 0;
}
body {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 385px;
    height: 585px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.289);
    margin-top: 68px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 25px;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
    margin: 20px;
    width: 300px;
    height: 70px;
    gap: 20px;
    border-radius: 15px;
}
.vs {
    color: #B1BDC2;
    font-weight: bold;
}
.player {
    font-weight: bold;
    font-size: 17px;
}
.player1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.scores {
    color: #6C5CE6;
    font-weight: bold;
    font-size: 22px;
}
#message {
    color: #636E72;
    font-weight: bold;
}
.tic-tac {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 20px;
}
.box {
    background-color: #EFEFEF;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 85px; */
    text-align: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.buttons button{
    padding: 13px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.button1 {
    background-color: #6D60D4;
}
.button2 {
    background-color: #96E2D5;
}
.button3 {
    background-color: #D43031;
}